body {
color: green;
font-family: Verdama, Arial, Gerneva, Arial Black;
font-weight: bold;

}

h1, {
color: green;
font-size:12px;

}

h2, {
color: green;
font-size:1.2em;

}


h3 {
color: ;
font-size: 1.2em;

}




.highlight {
background-color: orange;
}

